# Ignore Python cache files
__pycache__
*.pyc

# Ignore environment variables files
.env

# Ignore SQLite database files
*.db

# Ignore virtual environment
/venv

# Ignore other unnecessary files and directories
.vscode
.idea
.DS_Store
.git
.gitignore
