.button-wappper {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px
}

.main-container {
  margin-top: 20px;
  padding: 30px;
  background-color: rgb(237 237 237 / 24%);
  border: 1px solid rgb(211 211 211);
  border-radius: 10px;
}

.base-TabsList-root.tab-wapper {
  margin-bottom: 0;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #c3c3c3;
  border-bottom: 0;
}
.base-TabPanel-root.tab-panel-wapper {
  margin-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #c3c3c3;
  border-top: 0;
  background-color: #eeeeee;
}